#!/bin/sh
# SPDX-License-Identifier: FSL-1.1-ALv2
# Copyright (c) 2025 Delos Data, Inc.
#
# Example script to run the production-test-framework Docker image.
# Copy to launch_framework.sh, edit the paths below, and run.

# The docker image to use
IMAGE=production-test-framework:latest

# The directory where the pytest tests are located
TESTS_DIR=/path/to/your/tests

# The directory where the mosaic helm charts are located
HELM_CHARTS_DIR=/path/to/mosaic/helm/charts

# The directory where the nccl profiler plugin is located
NCCL_PROFILER_PLUGIN_DIR=/path/to/mosaic/nccl_profiler_plugin

# The environment file to use. This is used to set the environment variables for the framework.
ENV_FILE=/path/to/your/.env.docker

# The DNS search domain. Example:
# DNS_SEARCH=example.mydomain.com
DNS_SEARCH=example.mydomain.com

# The name of the container to create
CONTAINER_NAME=production-test-framework

docker run -v $TESTS_DIR:/app/tests \
-v $SSH_AUTH_SOCK:/tmp/ssh-agent/socket \
-v $HELM_CHARTS_DIR:/app/mosaic/sw/epsw/charts  \
-v $NCCL_PROFILER_PLUGIN_DIR:/app/mosaic/profiler_plugin  \
-v /var/run/docker.sock:/var/run/docker.sock \
--network host \
--dns-search $DNS_SEARCH \
--env-file $ENV_FILE \
-it \
--rm \
--name $CONTAINER_NAME \
$IMAGE
